<a href="https://colab.research.google.com/github/bharatbrijwasi/python4DataScience/blob/master/NASSCOM_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("welcome python 101")

In [0]:
print("Hello\nWorld!")

In [0]:
#print('Hello World')

In [0]:
a = 10
b = 10.0
type(a)
type(b)

In [0]:
#type of following number
int(1.0)

In [0]:
#convert Number 1 to Boolean
bool(1)

In [0]:
#String
"Bharat Sharma"
#or
'Bharat Sharma'

In [0]:
#accessing index values
name = "Bharat Sharma"
name[10]

In [0]:
#we can also used negative number to access the String vlues
name = "bharat"
name[-6]

'b'

In [0]:
name = "Bharat Sharma"
name[::2]
#2 indicate the accesss every second element

'Baa hra'

In [0]:
#Check the length of the String
name = "Bharat Sharma"
len(name)

13

In [0]:
#String concetenation
name = "Bharat Sharma"
statement = name + " is the best"
statement

'Bharat Sharma is the best'

In [0]:
#replicate the value of String
name = " Bharat Sharma"
repeat = 3* name
repeat

' Bharat Sharma Bharat Sharma Bharat Sharma'

In [0]:
#UpperCase and Lowercase String
name = "bharat sharma"
name = name.upper() #same as with lowercase
name

'BHARAT SHARMA'

In [0]:
#String replace() function
statement = "Bharat sharma is the best"
replace = statement.replace("Bharat sharma", "James")
replace

'James is the best'

In [0]:
#find() String function
statement  = "bharat sharma is the best"
findIndex = statement.find("is")
findIndex

14

In [0]:
#consider the following String numbers = "0123456", obtain the even Element
numbers = "0123456"
numbers[::2]

'0246'

In [0]:
#check the result
"0123456".find('1')

1

In [0]:
#Tuples:Tuples are an ordered sequence
#Tuples are written as Comma-separated elements within parenthesis
#tuples are Immutable

tuples1 = ("Disco", 10,1.2)
tuples1

('Disco', 10, 1.2)

In [0]:
#accessing tuple first Element
tuple1 = ("Disco", 10, 1.2)
tuple1[0]

1.2

In [0]:
#tuple Concatenation
tuple1 = ("Disco", 10, 1.2)
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('Disco', 10, 1.2, 'hard rock', 10)

In [0]:
#length of tuple
tuple3 = (1,2,3,4,4,"Bharat", "roxx",1.1)
len(tuple3)

8

In [0]:
#Sorted tuple
tuple4 = (12,23,2,2,4,54,6,57,543,2,)
sortedTuple = sorted(tuple4)
sortedTuple

[2, 2, 2, 4, 6, 12, 23, 54, 57, 543]

In [0]:
#nested tuple
nt = (1,2,("pop", "rock"), (3, 4), ("disco", (1, 2)))
nt

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [0]:
#accessing the tuple that contain disco ELement
nt[4][0]

'disco'

In [0]:
#List are also ordered sequence
#here is a List "L"
#a list represented with square brackets
#list is Mutable
L = ["Bharat Sharma", 10.1, 1982]
L

['Bharat Sharma', 10.1, 1982]

In [0]:
#accessing the Element of the list
L[0]

'Bharat Sharma'

In [0]:
#slicing list:
L1 = ["Bharat Sharma", 10.1, 1982, "MJ", 1]
#accessing the Last two Element
L1[3:5]

['MJ', 1]

In [0]:
#List Concatenation
L2 = ["Bharat Sharma", 10, 25, 1.12]
l3 = L2 + ["James", 10,1.5]
l3

['Bharat Sharma', 10, 25, 1.12, 'James', 10, 1.5]

In [0]:
#As we know list is mutable so we can extend the list Elemetns by the extend() function
list1 = ["Bharat Sharma", 10,2,0,5,5,0,2.2,10.2]
list1.extend(["roxx", 100])
#we can also add Elements to the list by append() method
#like list1.append("roxx")
list1

['Bharat Sharma', 10, 2, 0, 5, 5, 0, 2.2, 10.2, 'roxx', 100]

In [0]:
#add new list to the Existing list
#using append() method
list2 = [2,3,4,5,5,6,"Bharat"]
list2.append(["Sharma", 10])
list2

[2, 3, 4, 5, 5, 6, 'Bharat', ['Sharma', 10]]

In [0]:
#modifying the exist element in the list
list3 = [2,3,4,8,5,0,6,7]
#suppose we want to modify 0 with 1
list3[5] = 1
list3

[2, 3, 4, 8, 5, 1, 6, 7]

In [0]:
#delete the particular Element from the list by using del() function
del(list3[3]) #it delete the Element that present at the third index 
list3

[2, 3, 4, 5, 1, 6, 7]

In [0]:
#convert String to the List data Structure by using split() function
"bharat sharma".split()

['bharat', 'sharma']

In [0]:
#split string with delimiter
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [0]:
#accessing the last element of tuple
A = (0,1,2,3)
A[-1]
A[3] #both gives same result that is last Element

3

In [0]:
#sets
#sets are a type of collection
#this means that like lists and tuples you can input different Python types
#Unlike lists and tuples they are Unordered
#Sets onlu have unique elements
#this means there is only one of a particular elements in a set
#example
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
#when actual set is created dulicate value encountered
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [0]:
#creating set by using the list data structure
list4 = ["bharat sharma", "roxx", "james"]
set1 = set(list4)
set1

{'bharat sharma', 'james', 'roxx'}

In [0]:
#set operations
#add element to the set
set1.add("Adding_Element")
set1

{'Adding_Element', 'bharat sharma', 'james', 'roxx'}

In [0]:
#removing element from th set
set1.remove("james")
set1

{'Adding_Element', 'bharat sharma', 'roxx'}

In [0]:
#check particular element in the set
"roxx" in set1

True

In [0]:
#mathmatical operation on the sets
set2 = {2,3,4,3,5,656,5,6}
set3 = {34,65,43,656,77,2,3}
#apply '&' that return intersection value of both sets(common value)
set2 & set3

{2, 3, 656}

In [0]:
#union of set
set2.union(set3)

{2, 3, 4, 5, 6, 34, 43, 65, 77, 656}

In [0]:
#issubset() method return true if set3 contain all element of set2 otherwise false
set3.issubset(set2)

False

In [0]:
#Dictionaries
#dictionaries is the type of collection in python
#dictionry has a key and value
#dictionary are denoted with curly brackets{}
#the key have to be immutable and unique
#Example
dict1 = {"Book1":1990, "Book2":1995, "Book3":2000, "Book4":2005, "Book5":2010}
dict1

{'Book1': 1990, 'Book2': 1995, 'Book3': 2000, 'Book4': 2005, 'Book5': 2010}

In [0]:
#accessing the dictionary value
dict1["Book1"]

1990

In [0]:
#adding the value to the dictionary
dict1["Book6"] = '2020'
dict1

{'Book1': 1990,
 'Book2': 1995,
 'Book3': 2000,
 'Book4': 2005,
 'Book5': 2010,
 'Book6': '2020'}

In [0]:
#delete Element to the dictionary
del(dict1['Book2'])
dict1

{'Book3': 2000, 'Book4': 2005, 'Book5': 2010, 'Book6': '2020'}

In [0]:
#check value that present in the dictionary by 'in'
'Book3' in dict1

True

In [0]:
#checkout the all keys present in the dictionary
dict1.keys()

dict_keys(['Book3', 'Book4', 'Book5', 'Book6'])

In [0]:
#checkout the values available in the dictionary
dict1.values()

dict_values([2000, 2005, 2010, '2020'])

In [0]:
#branching statement
#if statement
if(2<10):
  print("10 is greater than 2")
print("move on..")

10 is greater than 2
move on

In [0]:
#if-else statement
if(2>10):
  print("10 is greater than 2")
else:
  print("2 is smaller that 10")
print("move on..")

2 is smaller that 10
move on

In [0]:
#elif statement
age = 17
if(age>18):
  print("greater than 18")

elif(age==18):
  print("equal")
else:
  print("smaller than 18")
print("move on")

smaller than 18
move on

In [0]:
#logiv operator
#or, and, not
#or example
album_year = 1990
if(album_year<1990)or(album_year>1989):
  print("The album was made in the 70's and 90's")
else:
  print("The album was made in the 1980's")

The album was made in the 70's and 90's

In [0]:
#not
a = True
not(a)

False

In [0]:
#and
album_year = 1970
if(album_year>1960)and(album_year<1990):
  print("This album was made in 80's")

This album was made in 80's

In [0]:
#loops
#before that we aware one important function that is range() used to generate sequence of number
#example
range(0,10)

range(0, 10)

In [0]:
#example of loops
#suppose we have list of some colors and we decided to replace all existing color in list by the white color
#move on
color_list = ["red", "yellow", "orange", "blue", "magenta", "pink"]
for i in range(0,len(color_list)):
  color_list[i] = "White"

color_list

['White', 'White', 'White', 'White', 'White', 'White']

In [0]:
#while loop
color_list2 = ["orange", "orange","purple","blue"]
newcolor_list = []
i=0
while(color_list2[i] == 'orange'):
  newcolor_list.append(color_list2[i])
  i=i+1
newcolor_list

['orange', 'orange']

In [0]:
A = [3,4,5]
for a in A:
  print(a)

3
4
5

In [0]:
#functions
#we learn so many function already
#here we discuss some function related to math
lst = [1,2,3,4,5,6,2,3,4,56,3]
sum(lst) #it return the sum of the list

89

In [0]:
#sort function
lst.sort()
lst

[1, 2, 2, 3, 3, 3, 4, 4, 5, 6, 56]

In [0]:
#user defined function 
#function with one parameter
def add1(a):
  b=a+2
  return b
add1(10)

12

In [0]:
#function with two parameter 
#function can have multiple parameter
def multi(a,b):
  c=a*b
  return c
multi(10,20)

200

In [0]:
#function with no return type
def MJ():
  print("Bharat Sharma")
MJ()

Bharat Sharma

In [0]:
#function with no work
def NoWork():
  pass
  return None
NoWork()

In [0]:
#collecting Arguments
#* sign collect many parameters
def ArtistNames(*names):
  for name in names:
    print(name)
ArtistNames("Bharat Sharma", "james","peter")

Bharat Sharma
james
peter

In [0]:
#class
#creation of class
class Circle(object):
  def __init__(self,radius,color):
    self.radius = radius;
    self.color = color;
  def add_radius(self,r):
    self.radius = self.radius+r
    return (self.radius)

In [0]:
A = ['1','2','3']
for a in A:
  print(2*a)

11
22
33

In [0]:
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()

x= 1  y= 2

In [0]:
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y

  def print_point(self):
    print('x=',self.x,' y=',self.y)

p2=Points(1,2)
p2.x=2
p2.print_point()

x= 2  y= 2

In [2]:
#insertion sort 
def insertion_sort(array):
  for i in range(1, len(array)):
    #current number to be compared
    curNum = array[i]
    #compare curNum with the sorted part of the array and insert curNum 
    while(i>0)and (array[i-1]>curNum):
      array[i] = array[i-1]
      i = i-1
      array[i] = curNum
array = [16,23,43,1,31,8]
print('Unsorted array')
print(array)
print(' ')
insertion_sort(array)
print(' ')
print('Sorted array:')
print(array)

Unsorted array
[16, 23, 43, 1, 31, 8]


Sorted array:
[1, 8, 16, 23, 31, 43]

In [3]:
#Quick sort
def partition(array, low, high):
  i = (low-1)
  pivot = array[high]
  for j in range(low, high):
    if array[j] <= pivot:
      i+=1
      array[i],array[j] = array[j],array[i]
  array[i+1],array[high] = array[high],array[i+1]
  return (i+1)

def quick_sort(array, low, high):
  if low < high:
    partition_index = partition(array, low, high)
    quick_sort(array, low, partition_index-1)
    quick_sort(array, partition_index+1, high)

array = [1,0,4,2,3,5]
print('Unsorted array')
print(array)

low=0
high = len(array)-1
quick_sort(array, low, high)

print('Sorted array')
print(array)

Unsorted array
[1, 0, 4, 2, 3, 5]
Sorted array
[0, 1, 2, 3, 4, 5]

In [4]:
#linear search
def search_linear(array, target):
  for i in range(len(array)):
    if array[i] == target:
      return i
  return None
target = 5
array = [1,0,4,2,3,5]
result = search_linear(array, target)
if result is not None:
  print('Value {} found at position {} using linear search'.format(target,result+1))
else:
  print('Not Found')

Value 5 found at position 6 using linear search

In [0]:
#binary search
def search_binary(sorted_array, target):
  left = 0
  right = len(sorted_array)-1
  while left <= right:
    midpoint = left + (right-left)//2
    current = sorted_array[midpoint]
    if current == target:
      return midpoint
    else:
      if target < current:
        right = midpoint-1
      else:
        left = midpoint-1
  return None
target = 5
sorted_array = [0,1,2,3,4,5]
result = search_binary(sorted_array, target)
if result is not None:
  print('Value {} found at position {} using binary search'.format(target, result+1))
else:
  print('Not Found')

In [8]:
#implementing a Geometric Algorithms
#objective:check if two line segment intersect
class Point:

     def __init__(self, x, y):

         self.x = x

         self.y = y

 

     def subtract(self, p):

          return Point(self.x - p.x, self.y - p.y)

 

def cross_product(p1, p2):

      return p1.x * p2.y - p2.x * p1.y

 

def direction(p1, p2, p3):

     return  cross_product(p3.subtract(p1), p2.subtract(p1))

 

def on_segment(p1, p2, p):

     return min(p1.x, p2.x) <= p.x <= max(p1.x, p2.x) and min(p1.y, p2.y) <= p.y <= max(p1.y, p2.y)

 

def intersect(p1, p2, p3, p4):

     d1 = direction(p3, p4, p1)

     d2 = direction(p3, p4, p2)

     d3 = direction(p1, p2, p3)

     d4 = direction(p1, p2, p4)

 

     if ((d1 > 0 and d2 < 0) or (d1 < 0 and d2 > 0)) and ((d3 > 0 and d4 < 0) or (d3 < 0 and d4 > 0)):

         return True

     elif d1 == 0 and on_segment(p3, p4, p1):

         return True

     elif d2 == 0 and on_segment(p3, p4, p2):

         return True

     elif d3 == 0 and on_segment(p1, p2, p3):

         return True

     elif d4 == 0 and on_segment(p1, p2, p4):

         return True

     else:

         return False

 

#False

point1 = Point(1,1)

point2 = Point(10,1)

point3 = Point(1,2)

point4 = Point(10,2)

result = intersect(point1, point2, point3, point4)

print(result)

 

#True

point1 = Point(10,1)

point2 = Point(0,10)

point3 = Point(0,0)

point4 = Point(10,10)

result = intersect(point1, point2, point3, point4)

print(result)

 

#False

point1 = Point(-5,-5)

point2 = Point(0,0)

point3 = Point(1,1)

point4 = Point(10,10)

result = intersect(point1, point2, point3, point4)

print(result)

False
True
False